// out: ../css/style.css, compress: true, sourceMap: false

body {
  padding: 0; margin: 0;
}

// navbar
@navbarHeight: 80px;
@navLinkHeight: 60px;
@navbarTopPadding: 10px;
@navbarSidePadding: 50px;
@navbarWidth: 100%;
@navbarBG: #1a1a1a;
@navbarColor: #fff;
@font: 'Lato';

.navbar {
  height: @navbarHeight; width: @navbarWidth;
  background-color: @navbarBG;
  padding: @navbarTopPadding @navbarSidePadding;
  box-sizing: border-box;
  position: fixed;

  .navbar_brand, .navbar_links {
    height: @navLinkHeight; 
    .navbar_link {
      color: @navbarColor;
      text-decoration: none;
      line-height: @navLinkHeight;
      font-family: @font;
      float: left;
    }
    .nav_icon {
      color: @navbarColor;
      height: 32px;
      margin: 14px 10px 0px 10px;
      display: block;
      float: left;
    }
  }

  .navbar_brand {
    float: left;
    .navbar_link {
      font-size: 1.3em;
    }
    .navbar_search {
      width: 200px;
      border: none;
      height: 30px;
      box-sizing: border-box;
      padding: 5px 10px;
      margin-top: 15px;
      margin-left: 15px;
      background-color: transparent;
      color: @navbarColor;
      &:focus {
        margin-bottom: 1px;
        border-bottom: 1px solid rgba(255,255,255,0.8);
      }
    }
  }

  .navbar_links{
    float: right;
    .navbar_link {
      line-height: normal;
      margin: 10px 0px 0px 20px;
      padding: 10px 40px;
      font-size: 1em;
      border-radius: 20px;
      background: rgb(85,29,253);
      background: linear-gradient(90deg, rgba(85,29,253,1) 0%, rgba(210,69,252,1) 100%);
      &:hover {
        background: linear-gradient(90deg, rgba(58,3,222,1) 0%, rgba(222,112,255,1) 100%);
        box-shadow: 0px 0px 10px 1px #000;
      }
    }
  }
}

.home_display {
  width: 100vw;
  max-width:100%;
  height: 100vh;
  max-height: 100%;
  padding-top: @navbarHeight;
  box-sizing: border-box;
  .home_display_row {
    width: 100%; height: 80%;
    float: left;

    .home_display_col:first-of-type {
      padding: 10px;
      box-sizing: border-box;
      transition: 0.3s;
      &:hover {
        padding: 0px;
      }
      .display_content {background-color: red; width: 100%; height: 100%;}
    }
    .home_display_col {
      width: 50%; height: 100%;
      float: left;
      .display_content {
        
      }
      .home_display_inner_row:nth-of-type(1) {
        .home_display_inner_col:nth-of-type(1) .display_content {background-color: green;}
        .home_display_inner_col:nth-of-type(2) .display_content {background-color: blue;}
      }
      .home_display_inner_row:nth-of-type(2) {
        .home_display_inner_col:nth-of-type(1) .display_content {background-color: rgb(77, 22, 150);}
        .home_display_inner_col:nth-of-type(2) .display_content {background-color: rgb(22, 148, 142);}
      }
      .home_display_inner_row {
        width: 100%; height: 50%; float: left;
        .home_display_inner_col {
          width: 50%; height: 100%; float: left;
          padding: 10px;
          box-sizing: border-box;
          transition: 0.3s;
          &:hover {
            padding: 0px;
          }
          .display_content {
            width: 100%; height: 100%;
          }
        }
      }
    }
  }
  .home_display_bottom_row {
    width: 100%; height: 20%;
    float: left;
    .home_display_bottom_col:nth-of-type(1) .display_content {background-color: rgb(94, 64, 133)};
    .home_display_bottom_col:nth-of-type(2) .display_content {background-color: rgb(93, 196, 119)};
    .home_display_bottom_col:nth-of-type(3) .display_content {background-color: rgb(215, 224, 125)};
    .home_display_bottom_col:nth-of-type(4) .display_content {background-color: rgb(20, 180, 113)};
    .home_display_bottom_col:nth-of-type(5) .display_content {background-color: rgb(224, 125, 202)};
    .home_display_bottom_col:nth-of-type(6) .display_content {background-color: rgb(145, 22, 22)};
    .home_display_bottom_col {
      height: 100%; width: calc(100%/6); float: left;
      padding: 10px;
      box-sizing: border-box;
      transition: 0.3s;
      &:hover {
        padding: 0px;
      }
      .display_content {
        width: 100%; height: 100%;
      }
    }
  }
}

.home_movies {
  width: 100vw; 
  max-width:100%;
  padding: 100px 50px;
  box-sizing: border-box;

  .home_switch_container {
    width: 100%; height: 40px;
    .home_switch {
      width: 200px; margin: auto;
      height: 100%;
      background-color: red;
      .home_switch_select {
        text-align: center;
        width: 100px; 
        float: left;
      }
    }
  }

  .home_slider {
    .home_slider_name {
      
    }
    .home_slider_container {
        
    }
  }
}

.footer {
  .footer_content {

  }
  .footer_meta {

  }
}
