// out: ../css/CastSlide.css, compress: true, sourcemap: false

.cast_character {
  width: 200px; height: 300px;
  background-color: rgba(0,0,0,0.3); 
  float: left;
  .cast_image {
    width: 90px; 
    height: 140px;
    margin: 5px;
  }
  .cast_data {
    color: white;
    .name {
      margin: 1px 0;
      font-size: 0.9em;
    }
  }
}

.center .slick-current{
  .cast_character {
    background-color: green !important;
  }   
}