// out: ../css/CastSlide.css, compress: true, sourcemap: false

.cast_character {
  width: 200px; 
  height: 330px; // 30px extra for text
  background-color: rgba(0,0,0,0.3); 
  float: left;
  transition: 0.3s;
  .cast_image {
    width: 190px; 
    height: 285px;
    margin: 5px;
  }
  .cast_data {
    color: white;
    .name {
      margin: 1px 0;
      font-size: 0.9em;
    }
  }
}

.center .slick-current{
  .cast_character {
    background-color: green !important;
    width: 250px; 
    height: 380px; // 30px extra for text
    position: relative;
    top: -10px;
    .cast_image {
      width: 240px; 
      height: 336px;
    }
  }   
}