// out: ../css/CastSlide.css, compress: true, sourcemap: false

.cast_character {
  width: 200px; 
  height: 330px; // 30px extra for text
  background-color: rgba(0,0,0,0.3); 
  position: relative;
  float: none;
  margin: auto;
  transition: 0.3s;
  margin-top: 20px;
  a {text-decoration: none;}
  .cast_image {
    width: 190px; 
    height: 285px;
    margin: 5px;
    transition: 0.3s;
  }
  .search_result_movie_link {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    margin: 0;
    color: white;
    font-size: 0.9em;
    height: 20px; line-height: 20px;
    width: 20px;
    text-align: center;
    top: -10px; left: -10px;
    background-color: rgb(70, 182, 98);
  }
  .cast_data {
    color: white;
    text-align: center;
    .name {
      margin: 0;
      font-size: 0.9em;
      line-height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: 0.3s;
    }
  }
}

.center .slick-current{
  .cast_character {
    width: 250px; 
    height: 380px; // 30px extra for text
    .cast_image {
      width: 240px; 
      height: 336px;
    }
    .cast_data {
      .name {
        font-size: 1.1em;
        font-weight: 700;
      }
    }
  }   
}



@media (max-width: 1000px) {
  .cast_character {
    width: 150px; 
    height: 255px; // 30px extra for text
    .cast_image {
      width: 140px;
      height: 210px;
    }
  }
  
  .center .slick-current{
    .cast_character {
      width: 200px; 
      height: 330px; // 30px extra for text
      .cast_image {
        width: 190px; 
        height: 285px;
      }
    }   
  }
}


@media (max-width: 850px) {
  .cast_character {
    width: 100px; 
    height: 180px; // 30px extra for text
    .cast_image {
      width: 90px;
      height: 135px;
    }
    .cast_data {
      .name {
        font-size: 0.8em;
        line-height: 30px;
      }
    }
  }
  
  .center .slick-current{
    .cast_character {
      width: 150px; 
      height: 255px; // 30px extra for text

      .cast_image {
        width: 140px;
        height: 210px;
      }
      .cast_data {
        .name {
          font-size: 1em;
        }
      }
    }   
  }
}

@media (max-width: 620px) {
  .cast_character {
    width: 150px; 
    height: 255px; // 30px extra for text
    .cast_image {
      width: 140px;
      height: 210px;
    }
  }
  
  .center .slick-current{
    .cast_character {
      width: 200px; 
      height: 330px; // 30px extra for text
      .cast_image {
        width: 190px; 
        height: 285px;
      }
    }   
  }
}

@media (max-width: 620px) {
  .cast_character {
    width: 150px; 
    height: 255px; // 30px extra for text
    .cast_image {
      width: 140px;
      height: 210px;
    }
    // .search_result_movie_link {
    //   font-size: 0.9em;
    //   height: 20px; line-height: 20px;
    //   width: 20px;
    // }
    .cast_data {
      .name {
        font-size: 0.8em;
        line-height: 30px;
      }
    }
  }
  
  .center .slick-current{
    .cast_character {
      width: 200px; 
      height: 330px; // 30px extra for text
      .cast_image {
        width: 190px; 
        height: 285px;
      }
      .cast_data {
        .name {
          font-size: 1em;
          // font-weight: 700;
        }
      }
    }   
  }
}
