// out: ../css/DisplayPeople.css, compress: true, sourceMap: false

.display_people {
  width: 100vw;
  max-width:100%;
  min-height: 600px;
  .display_people_header {
    width: 100%;
    box-sizing: border-box;
    padding: 100px 50px;
    height: 20%;
    min-height: 300px;
    .people_header_background {
      width: 100%; 
      height: 300px;
      position: absolute;
      .top {
        background-color: red;
        height: 80%;
        min-height: 230px;
      }
      .bottom {
        height: 20%;
        min-height: 70px;  
        background-color: green;
      }
    }
    .people_header_content {
      position: absolute;
      width: 100%;
      // height: 100%;
      .people_profile_image {
        width: 20%; float: left;
        img {
          width: 50%;
        }
      }
      .header_people_data {
        width: 80%; float: left;
        .top {

        }
        .bottom {

        }
        .header_people_name {
          .name {
  
          }
        }
        .header_people_details {
          .dob {}
          .place_of_birth {}
          .role {}
        }
      }
    }
  }
  .works {

  }
}

