// out: ../css/Display.css, compress: true, sourceMap: false
@navbarHeight: 80px;

.display_movie {
  width: 100vw;
  max-width:100%;
  min-height: 400px;
  padding-top: @navbarHeight;
  box-sizing: border-box;
  min-height: 100vh;
} 

