// out: ../css/Display.css, compress: true, sourceMap: false
@navbarHeight: 80px;
@navbarBG: #1a1a1a;

.display_movie {
  width: 100vw;
  max-width:100%;
  min-height: 400px;
  .display_movie_header {
    width: 100%; height: 100vh;
    position: relative;
    .display_movie_header_image {
      width: 100%; height: 100%;
      padding-top: @navbarHeight;
      box-sizing: border-box;
      position: absolute;
    }
    .display_movie_header_data {
      position: absolute;
      background-color: @navbarBG;
      background-color: rgba(0,0,0,0.5);
      color: white;
      left: 0; bottom: 0;
      width: 70%;
      box-sizing: border-box; padding: 10px;
      .title, .meta, .description {margin: 0 auto; font-weight: 300;}
      .title {
        font-size: 3em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .meta {
        padding: 5px 0;
        .genre {
          margin: 0 5px;
          padding: 5px;
          background-color: rgba(0,0,0,0.2);
        }
      }
      .description {
        padding: 5px 0;
        font-size: 1.2em;
      }
      .companies {
        width: 100%; height: 100px;
        overflow: hidden;
        .company {
          width: 150px; height: 100px; float: left; position: relative;
          background-color: rgba(0,0,0,0.2);
          overflow: hidden;
          margin: 0 5px;
          img {
            top: 0; bottom: 0;
            margin: auto;
            box-sizing: border-box;
            padding: 10px;
            position: absolute;
            width: 100%;
          }
        }
      }
    }
  }
  .display_movie_data {
    width: 100%;
    overflow: auto;
    padding: 100px 0;
    .display_movie_data_cast {
      width: 1200px;
      margin: auto;
      padding: 50px 0;
      h2 {
        color: white;
        font-weight: 300;
        font-size: 2em;
      }
      .cast_slider {
        width: 100%;
        height: 380px;
      }
    }
    .display_movie_data_trailers {

    }
    .display_movie_data_reviews {

    }
    .display_movie_data_similar {

    }
  }
} 

