// out: ../css/ResultSwitch.css, compress: true, sourceMap: false

.result_switch_container {
  width: 100px; height: 40px;
  overflow: hidden; float: right;
  .result_switch {
    .result_switch_select {
      .result_switch_select_content {
        margin: 0 auto;
      }
      .result_switch_select_color {

      }
    }

  }
}