// out: ../css/ResultSwitch.css, compress: true, sourceMap: false

.result_switch_container {
  width: 150px; height: 40px;
  overflow: hidden; float: right;
  .result_switch {
    width: 100%; height: 100%;
    .result_switch_select {
      width: 50%; height: 100%; float: left;
      .result_switch_select_content {
        margin: 0 auto;
      }
      .result_switch_select_color {

      }
    }

  }
}