// out: ../css/SearchResults.css, compress: true, sourceMap: false
@navbarHeight: 80px;

.search_page {
  width: 100vw;
  max-width:100%;
  min-height: 400px;
  overflow: auto;
  padding-top: @navbarHeight;
  box-sizing: border-box;
  .results {
    width: 1000px;
    height: 20px;
    margin: auto;
    p {line-height: 20px; margin-left: 10px; color: white;}
  }
  .search_data {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 0 100px;
    color: white;
    text-align: center;
    h1 {
      font-weight: 300;
      margin: 0;
      font-size: 2.5em;
    }
  }
  // .search_filter {
  //   width: 100%; 
  //   text-align: center;
  //   .search_bar {
  //     width: 800px; height: 40px;
  //     padding: 5px;
  //     border: none;
  //     background-color: transparent;
  //     box-sizing: border-box;
  //     color: white;
  //     font-size: 1.3em;
  //     border-bottom: 1px solid white;
  //   }
  // }
  .search_results {
    width: 1000px;  
    overflow: auto;
    margin: auto;
    padding-bottom: 50px;
  }

  .pagination {
    width: 800px; height: 60px;
    margin: auto;
    padding-bottom: 50px;

    .pagination_left, .pagination_right {
      width: 100px; height: 60px;
      background-color: red;
    }

    .pagination_left {
      float: left;
    }
    .pagination_page {
      width: 600px; height: 100%;
      float: left;
      background-color: green;
    }
    .pagination_right {
      float: right;
    }
  }
}