// out: ../css/SearchResults.css, compress: true, sourceMap: false
@navbarHeight: 80px;

.search_page {
  width: 100vw;
  max-width:100%;
  min-height: 400px;
  overflow: auto;
  padding-top: @navbarHeight;
  box-sizing: border-box;
  .results {
    width: 1000px;
    height: 20px;
    margin: auto;
    p {line-height: 20px; margin-left: 10px; color: white;}
  }
  .search_data {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 0 100px;
    color: white;
    text-align: center;
    h1 {
      font-weight: 300;
      margin: 0;
      font-size: 2.5em;
    }
  }
  .search_results {
    width: 1000px;  
    overflow: auto;
    margin: auto;
    padding-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .search_page {
    .results {
      // width: 1000px;
      // height: 20px;
      // p {line-height: 20px; margin-left: 10px; color: white;}
    }
    .search_data {
      // width: 100%;
      // height: 100px;
      // padding: 0 100px;
      h1 {
        // font-size: 2.5em;
      }
    }
    .search_results {
      // width: 1000px;  
      // padding-bottom: 50px;
    }
  }
}